<div id="template-actions" class="actions" style="display:none;">
  <div class="control edit btn" title="Edit task">
    <i class="icon-edit"></i>
  </div>
  <div class="control new btn" title="New subtask">
    <i class="icon-plus"></i>
  </div>
  <div class="control link btn" title="Link subtask">
    <i class="icon-resize-small"></i>
  </div>
  <div class="control unlink btn" title="Unlink subtask">
    <i class="icon-resize-full"></i>
  </div>
  <div class="control delete btn" data-toggle="modal" href="#modal-confirm-delete" title="Delete task">
    <i class="icon-trash"></i>
  </div>
</div>
