{% extends "site_base.html" %}

{% block css %}{{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}waiting/css/waiting.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}ajax_form/css/jquery.ajax_form.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/create_node.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/link_node.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/details.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/test.css">
{% endblock %}

{% block js %}{{ block.super }}
  <script src="{{ STATIC_URL }}attr_stack/js/jquery.attr_stack.js"></script>
  <script src="{{ STATIC_URL }}ajax_form/js/jquery.form.js"></script>
  <script src="{{ STATIC_URL }}ajax_form/js/jquery.ajax_form.js"></script>
  <script src="{{ STATIC_URL }}reform/js/jquery.reform.js"></script>
  <script src="{{ STATIC_URL }}tree/js/jquery.tree.js"></script>
  <script src="{{ STATIC_URL }}js/create_node.js"></script>
  <script src="{{ STATIC_URL }}js/link_node.js"></script>
  <script src="{{ STATIC_URL }}js/confirm_delete.js"></script>
  <script src="{{ STATIC_URL }}js/confirm_unlink.js"></script>
  <script src="{{ STATIC_URL }}js/details_dialog.js"></script>
  <script src="{{ STATIC_URL }}js/manage.js"></script>
{% endblock %}

{% block heading %}Manage{% endblock %}
{% block subtext %}Create and edit tasks{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="span6">
      <div class="well">
        Big description.
      </div>
    </div>
    <div class="span6"></div>
  </div>

  <div class="row-fluid">

    <div class="node">
      <div class="right-controls">
        <div class="control create-root btn" title="Create root task">
          <i class="icon-plus"></i>
        </div>
        <div class="control expand-all btn" title="Expand all">
          <i class="icon-chevron-down"></i>
        </div>
        <div class="control collapse-all btn" title="Collapse all">
          <i class="icon-chevron-right"></i>
        </div>
      </div>
    </div>

  </div>

  {% include "cwschedule/tree.html" %}
  {% include "cwschedule/create_node.html" %}
  {% include "cwschedule/link_node.html" %}
  {% include "cwschedule/flat_tree.html" %}
  {% include "cwschedule/confirm_delete.html" %}
  {% include "cwschedule/confirm_unlink.html" %}
  {% include "cwschedule/details_dialog.html" %}

{% endblock %}
